.my-message {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-top: 10px;
    
}

.text {
    background-color: rgba(129, 182, 231, 0.774);
    padding: 5px;
    border-radius: 3px;
    overflow-wrap: break-word;
    max-width: 170px;
    min-width: 50px;
    text-align: center;
}